/* Fondo general en blanco */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

/* Estilo para el título */
h2 {
    color: #e60000; /* Rojo */
}

/* Tabla personalizada */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #333; /* Negro */
    color: #fff; /* Blanco */
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f7f7f7; /* Blanco suave */
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.p-datatable .p-inputtext,
.p-datatable .p-dropdown,
.p-datatable .p-calendar {
    background-color: #f7f7f7;
    border: 1px solid #e60000; /* Bordes rojos */
}

/* Colores para el progreso */
.p-inputnumber input {
    color: #e60000; /* Rojo en el input */
}

/* Botón agregar fila */
.p-button.p-button-icon-only,
.p-button.p-button-text,
.p-button {
    background-color: #e60000; /* Fondo rojo */
    color: #fff; /* Texto blanco */
    border: none;
}

.p-button:hover {
    background-color: #b30000; /* Rojo más oscuro en hover */
    color: #fff;
}
.p-calendar .p-datepicker {
    background-color: #fff; /* Fondo blanco para evitar transparencia */
    border: 1px solid #e60000; /* Bordes en rojo */
}
