/* Fondo general en blanco */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

/* Estilo para el título */
h2 {
    color: #4e4e4e; /* Rojo */
}

/* Tabla personalizada */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #000000; /* Negro */
    color: #fff; /* Blanco */
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f7f7f7; /* Blanco suave */
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.p-datatable .p-inputtext,
.p-datatable .p-dropdown,
.p-datatable .p-calendar {
    background-color: #f7f7f7;
    border: 0.5px solid #bdbdbd; /* Bordes rojos */
    border-radius: 5px;
}

/* Colores para el progreso */
.p-inputnumber input {
    color: #616161; /* Rojo en el input */
}

/* Botón agregar fila */
.p-button.p-button-icon-only,
.p-button.p-button-text,
.p-button {
    background-color: #838383; /* Fondo rojo */
    color: #fff; /* Texto blanco */
    border: none;
}

.p-button:hover {
    background-color: #5f5f5f; /* Rojo más oscuro en hover */
    color: #fff;
}
.p-calendar .p-datepicker {
    background-color: #fff; /* Fondo blanco para evitar transparencia */
    border: 1px solid #5f5f5f; /* Bordes en rojo */
}
.custom-input-text {
    font-size: 80px !important; /* Tamaño de texto */
    font-weight: bold !important; /* Grosor del texto */
    border: none !important; /* Sin borde */
    outline: none !important; /* Sin contorno */
    box-shadow: none !important; /* Sin sombra */
    background-color: transparent !important; /* Fondo transparente */
    color: #444444 !important; /* Color del texto */
    caret-color: #444444 !important; /* Color del cursor */
    transform: translateY(-90%),

}

